<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flowing comment chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Flowing comment chat</h1>
    <div id="id_moveCommetContainer"></div>
    <div class="inputContainer">
        <input type="text" id="id_commentInputText" placeholder="comment input">
        <button id="id_pushCommentButton">send</button>
      </div>
    </body>
    <script src="static/javaScirpt/main.js"></script>
</body>
</html>